.home {
  .heading {
    overflow: hidden;
    width: 100%;

    .avatar {
      float: left;
      overflow: hidden;
      margin-right: 15px;
    }

    .description {
      margin-left: 10px;

      p {
        color: $home-descr-color;
      }
    }
  }
}
@media screen and (max-width:$on-palm) {
  .home {
    .heading {
      .avatar {
        margin-right: 0;
        width: 100%;
        margin-bottom: 15px;
        padding-bottom: 10px;
        border-bottom: 1px solid $list-line-color;

        img {
          width: 100%;
        }
      }

      .description {
        width: 100%;
        float: right;
        overflow: hidden;
      }
    }
  }
}
