---
layout: default
---
<article class="recipe" itemscope itemtype="https://schema.org/Recipe">
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
    {% include header/article-cat-tags.html %}
    <ul>
      {% if page.meal_for %}
      <li><span class="icon icon-users"></span><span>{{ page.meal_for }}</span></li>
      {% endif %}
      {% if page.prep_time %}
      <li><span class="icon icon-clock"></span><span>{{ page.prep_time }}</span></li>
      {% endif %}
      {% if page.level %}
      <li><span class="icon icon-level"></span><span>{{ page.level }}</span></li>
      {% endif %}
      {% if page.calories %}
      <li><span class="icon icon-calories"></span><span>{{ page.calories }}</span></li>
      {% endif %}
    </ul>
  </header>
  <aside>
    {% if page.image %}
    <img src="{{ page.image }}" {% if page.imagealt %}alt="{{ page.imagealt }}"{% endif %} />
    {% endif %}
  </aside>
  <p>{{ content }}</p>
</article>
