<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Resumè - Antonio Pastorino</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  </head>
  <body>
    <div class="page-content">
      <article class="resume">
        <img src="http://gravatar.com/avatar/1bd303f872dffaf0b909e1f83d304c14?s=230" alt="James Moriarty">
        <h1>Antonio Pastorino</h1>
        <p>Cell: <a href=#>+39-349-0550127</a>
        <p>Web: <a href="{{ site.url }}">{{ site.url }}</a>
        <p>Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        <p id="objective">
          I am a experienced tech professional dedicated on web development and focused on efficient ways of website integration, devops and team management. My skill have allowed me to effectively manage several complex project for top player customer on the Fashion & Luxury and Telco & Media market.</p>
        <dl>
           <dt>Position
           <dd><h2>Backend Engineer / Technical Team leader</h2>
        </dl>
        <dl>
           <dt>Experience
           <dd>
              <h2>Technical Team Leader<span>Oct 2012 - present</span></h2>
              <h3><em>Bitmama Reply</em>, Via Ripamonti 104, 20141 Milano (Italy)</h3>
              <p>Whilst working for Bitmama I had been introduced areas of development that required integration between different systems and efficient strategies to coordinate frontend and backend layers.<br/>During my time with Bitmama I had been first a dedicated resource for development of both e-commerce and brand websites and now I’m working as technical team leader for my organizational unit.
              </p>
              <h2 class="sepline">Grant Holder<span>Apr 2012 – Oct 2012</span></h2>
              <h3><em>Dipartimento di Informatica e Scienze dell'Informazione</em>, Universita' degli studi di Genova</h3>
              <p>Using OAuth 2.0 and GData for distributed heterogeneous data handling, implementation of OAuth 2.0 compliant authentication protocols, coordination of subprojects.</p>
              <h2 class="sepline">Web Developer<span>Dec 2009 – Apr 2012</span></h2>
              <h3><em>Campus della Città Digitale</em>, Palazzo Ducale, Piazza Matteotti 9, 16100 Genova (Italy)</h3>
              <p>Drupal web application development, project handling with people coordination, end users training, third party platform maintenance</p>
           </dd>
        </dl>
        <dl>
           <dt>Education
           <dd>
              <h2>Laurea Specialistica in Informatica<span>Mar 2009 - Oct 2009</span></h2>
              <h3><em>Università degli studi di Genova</em>, Facoltà di Scienze Matematiche, Fisiche e Naturali</h3>
              <h3>Final Grade: 110/110 e lode (Magna cum Laude)</h3>

              <h2 class="sepline">Laurea in Informatica<span>Sep 2003 - Feb 2008</span></h2>
              <h3><em>Università degli studi di Genova</em>, Facoltà di Scienze Matematiche, Fisiche e Naturali</h3>
              <h3>Final Grade: 110/110 e lode (Magna cum Laude)</h3>

              <h2 class="sepline">Maturità Scientifica<span>Sep 2003 - Jul 2003</span></h2>
              <h3><em>Liceo Scientifico Blaise Pascal</em>, Ovada (AL) </h3>

              <h2 class="sepline">First Certificate in English<span>Mar 2008 - Jul 2004</span></h2>
              <h3>University of Cambrige, ESOL Examinations</h3>

              <h2 class="sepline">Preliminary English Test<span>Mar 2004 - Jul 2004</span></h2>
              <h3>University of Cambrige, ESOL Examinations</h3>
        </dl>
        <dl>
           <dt>Skills
           <dd>
              <h2>Technical skills and competences</h2>
                <ul>
                  <li>Strong LAMP stack knowledge with proficiency in Object-Oriented PHP >=5, MVC Frameworks (Zend /Symfony), dependency managers (Composer), relational databases (MySQL) and linux shell scripting for automated tasks (deploys, monitoring, reports)</li>
                  <li>Deep knowledge of Git, Git workflows and version control systems in general</li>
                  <li>Familiarity with Amazon AWS and Rackspace cloud computing services as well as PaaS like Heroku.</li>
                  <li>Great passion for configuration management and automation tools (Vagrant, Puppet, Docker, etc.).</li>
                  <li>Competency in consuming and building SOAP/REST/JSON services.</li>
                  <li>Excellent knowledge of Magento for developing e-commerce solution, Drupal and Wordpress for CMS solutions.</li>
                  <li>Good knowledge of  automating software build tools like Apache Ant and Grunt and competency in CI/CD workflows (Jenkins).</li>
                  <li>Good knowledge of HTML, CSS3, JavaScript/Coffeescript, JQuery and Sass/Scss/Compass.</li>
                  <li>Good knowledge of Xcode and Android Studio for mobile application test, debug and build.</li>
                  <li>Basic knowledge of NoSQL databases (MongoDB, Apache CouchDB)</li>
                </ul>
              <h2>Organisational skills</h2>
              <p>Good organisational skills thanks to the coordination of several project, internship and the current role of technical team leader. I usually coordinate small (from 2 to 6) teams of dedicated technical resources both internal and external to my organization. Some of the PM application I often use are: Trello, Teamwork, Slack, Github issues, Mantis, Jira, Redmine.</p>
              <h2>Social skills</h2>
              <p>Good relationship and teamworking skills, due to several projects, both in Italian, my mother tongue and in English.</p>
        </dl>
        <dl>
           <dt>Other Skills & Hobbies
           <dd>First aid techniques due to my Croce Rossa Italiana (Italian Red Cross) volunteer service. Travel photography, music, gaming, cooking.
        </dl>
        <dl>
           <dt>References & Projects
           <dd>Available on request
        </dl>
        <dl>
           <dt>Driving license
           <dd>B
        </dl>
        <dl>
           <dt>Publications
           <dd>
             <ul>
               <li>Ciaccio G., Pastorino A., Ribaudo M., <em>“Envisioning Smart Disclosure in the Public Administration”</em>, In proc. of AICA 2013 (ISBN 9788898091164).</li>
               <li>Ciaccio G., Pastorino A., Ragnini C., Ribaudo M., <em>“Publish-Subscribe over Social Networks”</em>, NGNS 2010 (Next Generation Network and Services) 8- 10 July 2010, Marrakech, Morocco.</li>
               <li>G. Ciaccio, A. Pastorino, C. Ragnini, M. Ribaudo. <em>“Social networks as a support for event notification services”</em>, In proc. of WWW/INTERNET 2009. IADIS International Conference, 2009. </li>
             </ul>
        </dl>
        <p class="objective" style="margin-top:2rem;">(<a href="{{ site.baseurl }}/">Return to the home page</a>.)
      </article>
    </div>
  </body>
</html>
